body{
  margin: 0 auto 60px;


}
.textbox {
  background: #000;
  border-radius: 5px;
  height: 200px;
  margin: 0 auto 60px;

}


.bg-faded {
  margin-bottom: 100px;
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #614385 , #516395); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #614385 , #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fa-bars:hover {
  color: #ecf0f1;
  transition: color ease .3s;
  cursor: pointer;
}
.ett{
  width: 250px;
  height: 230px;
  margin-left: 34px;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 10px;
}

.gallery{
  padding-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #95a5a6;
  text-align: center;
}
.text{
  margin: 30px 30px;
}
footer{
  background: #bdc3c7;
  line-height: 60px;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}
 html{
   position: relative;
   min-height: 100%;
 }
form {
  margin-top: 150px;
  text-align: center;
  margin-left: 100px;

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.fa {
  font-size: 80px;
  margin-top: 17px;
  margin-left: 17px;
}
